[Unit]
Description=OctoPulse Server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/On-body-haptics/haptics_v2_I2C/code/octopulse-server.py

[Install]
WantedBy=multi-user.target
