[Unit]
Description=OctoPulse IP address display service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/haptic-uhat/code/ip-display.py

[Install]
WantedBy=multi-user.target
